<% @subjects.each do |subject| %>

<h2><%=link_to subject.name, subject %></h2>
<p><%= subject.subject_code %></p>
<p><%= time_ago_in_words(subject.created_at) %></p>

<% end %>

<%= link_to "New Note", new_subject_path %>